

  textarea {
    border-bottom: 5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    background-color: #f4f1ec;
    outline: none;
    
  }
    .tweetbtn{
      background-color: #4056A1;
      border:none;
      color:#fff;
      font-size: 25px;
      font-family: 'Bungee', cursive;
      justify-content: center;
    }
    .tweet-count {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .counter {
      font-weight: bold;
      font-family: 'Bungee', cursive;
      align-self: flex-end;
    }
    .red{
      color : red;
   
    }

    article {
      box-sizing: border-box;
      border-style: solid;
      border-width: 5px;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0px;
    }
    /* .tweet-line {
      border-bottom: 5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    } */

    article.tweet-container header{
      display: flex ;
      margin-top: 20px;
      justify-content: space-between;
     
    }

    article.tweet-container footer{
      display: flex ;
      /* //margin: 20px; */
      justify-content: space-between;
      padding: 30px;
    }
    hr {
      border-color:black;   
      border-style: solid;
    }

    .tweet-container:hover {
      box-shadow: 0 4px 2px -2px gray; 
    }

    .fas:hover {
     color:burlywood;
    }
    #error-message {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442;
    }